html{
  scroll-behavior: smooth;
}

body{
  background-color:#F9F6F5;
}

.container{
  max-width: 1440px;
  margin: 0px auto;
}


.header__inner{
  width: 1240px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo{
  color: #222222;
  font-family: 'Red Hat Display', sans-serif;
  font-style: italic;
  font-size: 24px;
  line-height: 30px;
}

.menu__one{
  
}

.menu__one-list{
  display: flex;
  list-style-type: none;
}

.menu__one-item + .menu__one-item{
  padding-left: 30px;
}

.menu__one-link{
  text-decoration: none;
  color:#222222;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.menu__two{

}

.menu__two-img{

}

.menu__two-link + .menu__two-link{
  padding-left: 30px;
}

.home{
  margin-top: 60px;
}

.home__inner{
  display: flex;
  justify-content: space-between;
}

.home__item{
  padding-left: 100px;
}

.home__item-title{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500px;
  font-size: 56px;
  line-height: 70px;
  margin-bottom: 20px;
}

.home__item-text{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  line-height: 32px;
}

.home__form input{
  position: absolute;
  width: 326px;
  height: 48px;
  padding: 0 0 0 14px;
  border: none;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 20px;
} 

.home__form img{
  position: relative;
  margin: 8px 0 8px 300px;
}


.home__link{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 40px;
  padding: 16px 32px;
  display: inline-block;
  background-color: #402F2C;
  color: #fff;
  text-decoration: none;
}

.home__images{
  
}

.home__img{
  
}

.product{
  max-width: 1240px;
  margin: 0 auto;
}

.product__box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.product__title-1{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500px;
  font-size: 56px;
  line-height: 70px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.product__text-1{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  line-height: 32px;
}

span{
  text-decoration: underline;
  font-weight: bolder;
}

.product__title-2{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500px;
  font-size: 40px;
  line-height: 60px;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product__text-2{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  line-height: 32px;
  padding: 0 30px 0 20px;
  margin-bottom: 50px;
}

.product__link-one{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 32px;
  display: inline-block;
  background-color: #402F2C;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.product__link-two{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 31px;
  display: inline-block;
  color: #402F2C;
  text-decoration: none;
  border: 1px solid #685A52;
  margin-left: 20px;
}

price{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500px;
  font-size: 30px;
  line-height: 32px;
  color:#222222;
  padding-left: 175px;
  font-weight: bolder;
}

.product__inner{
  display: flex;
  justify-content: space-between;
}

.product__item{
  width: 600px;
  height: 812px;
  border: 1px solid #685A52;
}

.products{
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
}

.products__inner{
  display: flex;
  justify-content: space-between;
}

.products__item{

}

.products__item-title{
  width: 540px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500px;
  font-size: 56px;
  line-height: 70px;
  margin-bottom: 20px;
}

.products__item-text{
  width: 608px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  line-height: 32px;
}

.products__link{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 40px;
  padding: 16px 32px;
  display: inline-block;
  background-color: #402F2C;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.products__images{

}

.products__img{

}

.reviews{
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.reviews__inner{
  display: flex;
  justify-content: space-between;
}

.reviews__item{

}

.reviews__item-title--one{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500px;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 12px;
}

.reviews__rating{
  margin-bottom: 43px;
}

.reviews__item-text--one{
  width: 608px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 79px;
}

.reviews__item-title--two{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500px;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
}

.reviews__item-text--two{
  width: 608px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  line-height: 32px;
  margin-top: 10px;
}

.reviews__form{
  margin-right: 15px;
}

.footer{
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
}

.footer__blok{
  
}
  

.footer__inner{
  display: flex;
  justify-content: space-around;
  padding: 59px 100px 0 59px;
  border-top: 1px solid #DDDDDD;
}


.footer__item{
  margin-bottom: 52px;
}

.footer__blok{
  display: flex;
}

.footer__title{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500px;
  font-size: 36px;
  line-height: 46px;
  padding: 0 250px 59px 100px;
}

.footer__link{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500px;
  font-size: 14px;
  line-height: 20px;
  width: 62px;
  height: 24px;
  padding: 10px 20px;
  background-color: #402F2C;
  color: #fff;
  text-decoration: none;
  margin-top: 32px;
  margin-left: 316px;
  position: relative;
}

.footer__input{
  width: 386px;
  height: 56px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  padding-left: 15px;
  border: none;
  margin-top: 25px;
  margin-left: 950px;
  position: absolute;
}

.footer__title-one{
  font-family: 'Red Hat Display', sans-serif;
  font-style: italic;
  font-weight: 700px;
  font-size: 40px;
  line-height: 50px;
  text-decoration: underline 3px;
}

.footer__text-one{
  width: 326px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 32px;
}

.footer__title-two{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500px;
  font-size: 20px;
  line-height: 24px;
  padding-top: 30px;
  margin-bottom: 50px;
}

.footer__text-two{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
}

.footer__img{
  margin-right: 20px;
}

.footer__number{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
}

.footer__mail{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
}











